<!DOCTYPE html>
<html>
<body>
<% if Helpers.is_logged_in?(session)  %>
  <h1>Welcome <%= Helpers.current_user(session).username %></h1>
  <h3>Your Balance: <%= Helpers.current_user(session).balance %></h3>
  <% else %>
  <h1>Please <a href="/">Log In</a></h1></a>
  <% end %>
  <h3> <a href="/logout">Log Out</a> </h3>
  </body>
</html>
